.footer{
  background: #123b4e;
  color: white;
  padding:10px 0 0 0;
  text-align: right;
}

.footer-bottom{
  background: #04222d;
  padding: 10px;
}
.socialMedia{
  margin-top: 26px;
  margin-bottom: 15px
    }

    .iamgeLogo{
      margin-top: 40%;
        }
  .social i{
    margin-left: 10px
  }

  /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .logoRespo{
      display: none;
    }
    .socialMedia{
      margin-top: 26px;
      margin-bottom: 15px
    }
  }