<footer class="footer" >
    <div class="container">
      <div class="row arabicFooterRow">
        <div class="col-md-10 col-12 mySection">
              <p class="">
                  بوابة الثقافة المصرية 
                  إنسان بلا ثقافة كشجرة بلا ثمار.
                  <br><br>
                  تعد بوابة الثقافة هي المنصة الاولي من نوعها التي تحتوي علي كنز ثقافي نادر لاعلاء المستوي الثقافي للمثقفين وللافراد المرتبطين ارتباط وثيق بالجهات الثقافية في محافظات مصر المختلفة ويعد شعار البوابة والهدف منها هو الوصول الي 100 مليون مثقف مصري  ونشر الثقافة المصرية واعلاء قامتها بين دول العالم اجمع عامة ودول افريقيا خاصة .  
                  تعمل البوابة ايضا علي تيسير الخدمات التي تقدمها الوزارة من خلال مكاتبها في مختلف المحافظات عن طريق السماح للمواطنين بالتقديم علي خدماتهم الكترونيا واستخراج التراخيص الازمة 
              </p>
              <div class="socialMedia">
                <div class="social"> 2 شارع شجرة الدر - الزمالك - القاهرة<i class="icon faIcon fa fa-location-arrow"></i></div>
                <div class="social"> (202+) 27485065 / (202+) 27486957 <i class="icon faIcon fa fa-phone"></i></div>
                <div class="social">media@moc.gov.eg<i class="icon fa faIcon fa-envelope"></i></div>
              </div>
            </div>
            <div class="col-md-2 logoRespo" style="margin-top: -35px">
              <img src="../../../assets/final-03.png" alt="logo" [routerLink]="'videos'" class="img-fluid iamgeLogo">
          </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="copyright">© 2020 <a href="home.html">Culture Gate</a> All rights reserved.</div>
          </div>
        </div>
      </div>
    </div>
  </footer>

 

    

  