<div class="section-type-k booksInFullScreen" *ngIf="videos">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <aside class="sidebar">
          <section class="widget">
            <h2 class="widget-title ui-title-inner text-right">تابعنا</h2>
            <div class="decor-right"></div>
            <div class="row socialOnly">
              <div class="col offset-2">
                  <a class="faceBook" target="_blank" href="https://www.facebook.com/Culture-Gate-103834857931056/?__tn__=%2Cd%2CP-R&eid=ARCqmJ0rfdS5oaPqLjtfFvrs8qCzM53J-MI_hROHKC54CPe-Qlvm6fAhL_vbUtnvnqWXNDt4YgTpxezm"><i class="fa fa-facebook-square"></i> </a>
              </div>
              <div class="col">
                  <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCGw9Yn-_j6CpysvnhVUeT4w/about"><i class="fa fa-youtube-square"></i></a>
              </div>
            </div>
          </section>
        </aside>
      </div>
      <div class="col-md-8" style="text-align: right">
        <article class="post post-full clearfix">
          <div class="entry-media">
              <iframe width="650" class="e2e-iframe-trusted-src" height="315" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="entry-main">
            <div class="entry-header categoriName">
              <h2 class="entry-title titleOfHead"><a>{{name}}</a></h2>
            </div>
            <div class="entry-content">
              <div style="margin-bottom: 10px ; margin-top:25px" [innerHTML]="Details"></div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  </div>
  
  <!-- videosRespon -->
  <div class="section-type-k booksInResponsive" *ngIf="videos">
      <div class="container">
        <div class="row">
          <div class="col-md-8" style="text-align: right">
            <article class="post post-full clearfix">
              <div class="entry-media">
                  <iframe width="350" class="e2e-iframe-trusted-src" height="315" [src]="videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <div class="entry-main">
                <div class="entry-header categoriName">
                  <h2 class="entry-title titleOfHead"><a>{{name}}</a></h2>
                </div>
                <div class="entry-content">
                  <p>{{Details}}</p>
                </div>
              </div>
            </article>
          </div>
          <div class="col-md-4">
              <aside class="sidebar">
                <section class="widget">
                  <h2 class="widget-title ui-title-inner text-right">تابعنا</h2>
                  <div class="decor-right"></div>
                  <div class="row socialOnly">
                    <div class="col offset-2">
                        <a class="faceBook" target="_blank" href="https://www.facebook.com/Culture-Gate-103834857931056/?__tn__=%2Cd%2CP-R&eid=ARCqmJ0rfdS5oaPqLjtfFvrs8qCzM53J-MI_hROHKC54CPe-Qlvm6fAhL_vbUtnvnqWXNDt4YgTpxezm"><i class="fa fa-facebook-square"></i> </a>
                    </div>
                    <div class="col">
                        <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCGw9Yn-_j6CpysvnhVUeT4w/about"><i class="fa fa-youtube-square"></i></a>
                    </div>
                  </div>
                </section>
              </aside>
            </div>
        </div>
      </div>
      </div>

<!-- kotb -->

    <!-- responsive -->

    <div class="section-type-k booksInResponsive" >
        <div class="container">
          <div class="row">
           
            <div class="col-md-8" style="text-align: right">
              <article class="post post-full clearfix">
                <div class="entry-media">
                  <img src="{{bookImage}}" style="width: 350px ; height: 300px;" >
                </div>
                <div class="entry-main">
                  <div class="entry-header categoriName">
                    <h2 class="entry-title titleOfHead"><a>{{name}}</a></h2>
                  </div>
                  <div class="entry-content">
                    <p>{{Details}}</p>
                    <button class="btn btnButton" style="margin-bottom: 10%" ><a href="{{link}}" target="_blank">إطلاع</a></button>
                  </div>
                </div>
              </article>
            </div>

            <div class="col-md-4">
                <aside class="sidebar">
                  <section class="widget">
                    <h2 class="widget-title ui-title-inner text-right">تابعنا</h2>
                    <div class="decor-right"></div>
                        <div class="decor-right"></div>
                        <div class="row socialOnly">
                          <div class="col offset-2">
                              <a class="faceBook" target="_blank" href="https://www.facebook.com/Culture-Gate-103834857931056/?__tn__=%2Cd%2CP-R&eid=ARCqmJ0rfdS5oaPqLjtfFvrs8qCzM53J-MI_hROHKC54CPe-Qlvm6fAhL_vbUtnvnqWXNDt4YgTpxezm"><i class="fa fa-facebook-square"></i> </a>
                          </div>
                          <div class="col">
                              <a class="youtube" target="_blank" href="https://www.youtube.com/channel/UCGw9Yn-_j6CpysvnhVUeT4w/about"><i class="fa fa-youtube-square"></i></a>
                          </div>
                        </div>
                  </section>
                  <section class="widget widget2">
                      <h2 class="widget-title ui-title-inner text-right">أحدث كنز ثقافي</h2>
                      <div class="decor-right"></div>
                      <div class="widget-content">
                        <article class="post post-3 post-3_mod-a clearfix" *ngFor="let item of LatestculturalTreasure">
                          <div (click)="runVideo(item.Id)">
                            <img src="{{item.Image}}" style="width:323px;height: 200px;" alt="Foto">
                          </div>
                        </article>
                      </div>
                    </section>
                </aside>
              </div>
          </div>
        </div>
        </div>

