.formStyle{
    text-align: right !important;
    margin: 20px 0 ;
    color: white
}

.formParent{
    background: #123b4e;
    padding: 0 0 0 0 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 23px 34px 0 rgba(0,0,0,0.9);
}

.formChild{
    padding: 10px 10px;
}
button{
    margin-top: 20px;
    font-size: 30px;
}
h3{
    text-align: center;
    background: #255e79;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 0 ;
}

.main{
    height:400px;
     position: relative;
  }
  .masg {
      position: absolute;
      top: 39%;
      right:23%;
      width: 600px;
      height: 100px;
      text-align: center;
      font-size: 23px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px 10px 30px 10px ;
  }
  .masg h1{
      margin: 10px;
  }
  p{
      color: red;
      text-align: center;
      margin: 30px 0 -11px 0
  }