.mainDiv{
    text-align: right;
    margin: 10px 20px;
    font-family: 'Cairo', sans-serif;
}
.mainDiv img{
    height: 300px;
    border: 1px solid #123b4e;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 10px;
}
.latestsBooks .cardAgin{
    border: 5px solid transparent;

    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
    border-radius: 50%;
}
.cardAgin img{ 
    border: none !important
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top:20px;
    border-radius: 20px;
    padding-right:0;
    padding-left: 0; 
    width: 300px;
    position: relative;
    height: 559px;
  }
  .card img{
      height: 430px;
      width: 100%;
  }
  .card div {
      padding: 0 10px 10px 10px ;
  }
  .main{
    height:400px;
     position: relative;
  }
  .masg {
      position: absolute;
      top: 39%;
      right:27%;
      width: 600px;
      height: 100px;
      text-align: center;
      font-size: 23px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px 10px 30px 10px ;
  }
  .masg h1{
      margin: 10px;
  }
  .pagintaion{
      margin-top: 50px;
  }
  .headerh3{
      font-size: 16px !important
  }
  .btnShow{
    position: absolute;
    bottom:5px;
    right: 31%;
    padding: 4px 36px;
    font-size: 20px;
  }
  .btnShow2{
    position: absolute;
    bottom:5px;
    right: 20%;
    padding: 4px 36px;
    font-size: 20px;
  }

  .inputControl{
      position: relative;
    }
  .fa-search{
    position: absolute;
    left: 36px;
    top: 35px;
    font-size: 27px;
    color: #b0b0b0;
    
  }

  .inputSearch {
    margin-top: 2%;
    padding: 26px 17px;
    text-align: right;
    box-shadow:inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05)
}
.inputSearch , input::-webkit-input-placeholder{
    font-size:25px;
}
span{
    margin-right: 10px;

}
.entittes{
    margin-top: 30px
}

h4{
    font-weight: bold;
}

.latestsBooks{
    position: relative;
}
.lastBook{
    position: absolute;
    bottom:20%;
    right: 0;
    background: #fd0017;
    color: white;
}
.latestsBooks h6{
    margin:10px 0 0 0 ;
}
  
.titleOne{
    margin-top:10px;
}




    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
    .pagintaion{
        margin-left: 38%;
    }
    .card{
        margin-left: 22px;
    }
}